div{
background-image: url('https://images.unsplash.com/photo-1660884437900-469e909beba2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
background-size: cover;
background-attachment: fixed;
background-position: center;

}
